//JQuery
script(type='text/javascript', src='/lib/jquery/jquery.js')
script(type='text/javascript', src='/lib/jquery-ui/ui/jquery-ui.js')

//AngularJS
script(type='text/javascript', src='/lib/angular/angular.js')
script(type='text/javascript', src='/lib/angular-cookies/angular-cookies.js')
script(type='text/javascript', src='/lib/angular-resource/angular-resource.js')

//Angular UI
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap-tpls.js')
script(type='text/javascript', src='/lib/angular-bootstrap/ui-bootstrap.js')
script(type='text/javascript', src='/lib/angular-ui-utils/modules/route/route.js')
script(type='text/javascript', src='/lib/angular-ui-calendar/src/calendar.js')
script(type='text/javascript', src='/lib/fullcalendar/fullcalendar.js')


//Application Init
script(type='text/javascript', src='/js/app.js')
script(type='text/javascript', src='/js/config.js')
script(type='text/javascript', src='/js/directives.js')
script(type='text/javascript', src='/js/filters.js')

//Application Services
script(type='text/javascript', src='/js/services/global.js')
script(type='text/javascript', src='/js/services/articles.js')
script(type='text/javascript', src='/js/services/social.js')
script(type='text/javascript', src='/js/services/tvshows.js')
script(type='text/javascript', src='/js/services/twitter.js')
script(type='text/javascript', src='/js/services/bydate.js')
script(type='text/javascript', src='/js/services/byname.js')


//Application Controllers
script(type='text/javascript', src='/js/controllers/articles.js')
script(type='text/javascript', src='/js/controllers/tvshows.js')
script(type='text/javascript', src='/js/controllers/index.js')
script(type='text/javascript', src='/js/controllers/header.js')
script(type='text/javascript', src='/js/controllers/users.js')		
script(type='text/javascript', src='/js/init.js')

//if (req.host='localhost')
    //Livereload script rendered 
//    script(type='text/javascript', src='http://localhost:35729/livereload.js')	
