 <div class="row-fluid">
    <div class="span2">
    <!--Sidebar content-->

        Search: <input ng-model="query">

    </div>
    <div class="span10">
    <!--Body content-->
		<section data-ng-controller="TvShowsController" data-ng-init="find()">
			
			<ul class="articles unstyled">
				<li data-ng-repeat="tvshow in tvshows | filter:query"> 
				<!-- <li data-ng-repeat="tvshow in tvshows | paginate"> -->
					<span>{{tvshow.network.text | date:'medium'}}</span> /
					<span>{{tvshow.showid}}</span>
					<h2><a data-ng-href="#!/tvshows/{{tvshow._id}}">{{tvshow.name}}</a></h2>
					<form class="form-horizontal" data-ng-submit="update(tvshow)" ng-hide="isFollowing(tvshow)"><button type="submit" class="btn">+ Follow</button></form>
					<form class="form-horizontal" data-ng-submit="remove(tvshow)" ng-show="isFollowing(tvshow)"><button type="submit" class="btn">Unfollow</button></form>
					<form class="form-horizontal" data-ng-submit="watchAll(tvshow,social)" ng-hide="isWatchAll(tvshow,social)"><button type="submit" class="btn">Check All</button></form>
					<form class="form-horizontal" data-ng-submit="unwatchAll(tvshow,social)" ng-show="isWatchAll(tvshow,social)"><button type="submit" class="btn">Uncheck All</button></form>							
					<div>Seasons {{tvshow.totalseasons}}</div>
				</li>
			</ul>
			
			<h1 data-ng-hide="!tvshows || tvshows.length">No TvShows yet. </h1>

		</section>
	</div>
</div>