<section data-ng-controller="TvShowsController" data-ng-init="findOne()">
<div class="row-fluid">

    <div class="span2">
    <!--Sidebar content-->

    </div>
    <div class="span6">
    <!--Body content-->
	
		<span>Seasons {{tvshow.totalseasons}} {{tvshow.started | date:'medium'}} and {{tvshow.ended | date:'medium'}} {{tvshow.network.country}} {{tvshow.network.text}}
		</span> <br>
		<span><img src={{tvshow.image}}></span>
		<h2>{{tvshow.name}}</h2>
		<div>{{tvshow.content}}</div>

		<tabset>
			<tab ng-repeat="season in tvshow.Episodelist" heading="S{{season.no}}" active="season.active">
      			<ul class="unstyled">
					<li data-ng-repeat="episodes in season.episode">
						<span>{{season.no}}x{{episodes.seasonnum}} <a data-ng-href="#!/tvshows/{{tvshow._id}}/{{season.no}}/{{episodes.title}}">{{episodes.title}}</a></span>
					</li>
				</ul>
    		</tab>
		</tabset>	
	
	</div>
    <div class="span2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a data-ng-href="#!/tvshows/{{idshow}}">{{tvshow.name}}</a></h4>
        </div>
        <div class="panel-body">
          Status <b>{{tvshow.status}}</b></br>
          Total Seasons <b>{{tvshow.totalseasons}}</b></b></br>
          Started <b>{{tvshow.started}}</b></br>
          Ended <b>{{tvshow.ended}}</b></br>
          Network <b>{{tvshow.network.text}}</b></br>
          Runtime <b>{{tvshow.runtime}}</b></br>
          Airtime <b>On {{tvshow.airday}}, at {{tvshow.airtime}}</b>
        </div>
      </div>
    </div>
</div>
</section>