<div class="navbar-inner" data-ng-controller="HeaderController">
    <ul class="nav">
        <li>
            <a class="brand" href="/">Showity.tv</a>
        </li>
        <img src="../img/generic/TV.png" height="100" width="146" style="padding-top: 5px;">
        <img src="../img/generic/marks.png"  height="100" width="247" style="padding-top: 8px; padding-left: 80px;">
    </ul>
    <ul class="nav pull-right" data-ng-hide="global.authenticated">
        <div class="show-menu-sign">
            <li><img src="../img/generic/signin.png" height="15" width="41.7" style="margin-bottom: -5px;"><a href="signup">SIGN UP</a>
            </li>
            <li style="padding-top: 15px;"><img src="../img/generic/signup.png" height="15" width="41.7" style="margin-top: -10px;"><a href="signin">SIGN IN</a>
            </li>
        </div>
    </ul>
    <ul class="nav pull-right" data-ng-show="global.authenticated">
        <ul class="show-menu">
            <li style="padding-top: 10px;">Hey, <span style="color: red">{{global.user.name}}</span>, Mark Your Shows!</li>   
            <li style="padding-top: 35px; text-align: right;"><a href="/signout">Signout</a> - <a href="#!/mypanel/{{global.user._id}}">My Stuff</a></li>
        </ul>
    </ul>
</div>